body {
    background-image: url(https://i.postimg.cc/761dkwft/d6c501057a76f6d4f318edb3954f70ae.jpg);
}

a:hover {
    border-radius: 10px;
    background-color: aqua;
}

/* #about , #education , #skills , #projects , #testimonials , #contact  */

#index {
   padding-top: 8%;
  margin-top: 150px;
    border-radius: 10px;
    height: 85vh;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
    backdrop-filter: blur(1rem);
    border: 1px solid-transparent;
    background-color: rgba(116, 114, 114, 0.5);
    
} 
#about {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 110vh;
     width: 90%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 
 #education {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 100vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #skills {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 110vh;
     width: 100%;
     margin-bottom: 100px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #projects {
    padding-top: 8%;
   margin-top: 300px;
     border-radius: 10px;
     height: 80vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #testimonials {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 130vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #contact {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 100vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 
/* animation code */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f4f2f8 0%,
    #96e0e9 29%,
    #51f7bd 67%,
    #71f06d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 200px;
}

.animate-charcter {
    font-size: 120px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/* End of animation */

@media screen and (max-width: 300px) {
    .animate-charcter {
        font-size: 50px;
    }

    #projects {
        height: 200vh;
    }
}

a:hover {
    border-radius: 10px;
    background-color: aqua;
}
a {
    color: #0ff33d;
}
.card {
    margin: 10px;
}
button {
    border-radius: 10px;
    background-color: #0ff33d;
    color: black;
}
button:hover {
    transform: rotateY(180deg);
    transition: 1s;
    border-radius: 10px;
    background-color: aqua;
}
h3 {
    font-size: small;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  #f-1 {
    background-color: transparent;
    width: 300px;
    height: 100px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    height: auto;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .col-1 {
   margin-right: 10%;
   margin-left: 10%;
  }

  .col-2 {
    margin-right: 20%;
    margin-left: 10%;
    height: 200px;
    width: 200px;
   }
@media screen and (max-width: 300px){
    .flip-card {

        height: 100%;
        width:100%;
        margin-top: auto;
    }

    .testimonials {
        height: auto;
        margin-bottom: 50%;
    }

    .contact {

    }

    .col-1 {
      
       }
}
   