body {
    background-image: url(https://i.postimg.cc/761dkwft/d6c501057a76f6d4f318edb3954f70ae.jpg);
}

a:hover {
    border-radius: 10px;
    background-color: aqua;
}

/* #about , #education , #skills , #projects , #testimonials , #contact  */


#about {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 110vh;
     width: 90%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 
 #education {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 100vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #skills {
    padding-top: 8%;
   margin-top: 150px;
     border-radius: 10px;
     height: 110vh;
     width: 100%;
     margin-bottom: 100px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 

 #projects {
    padding-top: 8%;
   margin-top: 300px;
     border-radius: 10px;
     height: 80vh;
     width: 100%;
     margin-bottom: 5px;
     box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(116, 114, 114, 0.5);
 } 



 


@media screen and (max-width: 300px) {
    .animate-charcter {
        font-size: 50px;
    }

    #projects {
        height: 200vh;
    }
}

a:hover {
    border-radius: 10px;
    background-color: aqua;
}
a {
    color: #0ff33d;
}
.card {
    margin: 10px;
}
button {
    border-radius: 10px;
    background-color: #0ff33d;
    color: black;
}
button:hover {
    transform: rotateY(180deg);
    transition: 1s;
    border-radius: 10px;
    background-color: aqua;
}
h3 {
    font-size: small;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  #f-1 {
    background-color: transparent;
    width: 300px;
    height: 100px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    height: auto;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .col-1 {
   margin-right: 10%;
   margin-left: 10%;
  }

  .col-2 {
    margin-right: 20%;
    margin-left: 10%;
    height: 200px;
    width: 200px;
   }
@media screen and (max-width: 300px){
    .flip-card {

        height: 100%;
        width:100%;
        margin-top: auto;
    }

    .testimonials {
        height: auto;
        margin-bottom: 50%;
    }

    .contact {

    }

    .col-1 {
      
       }
}
   /* <----------------------------------------------------------------------------------------------------------------> */
/* landing page */

.flex {
  display: flex;
}

.box-1 {
 border-image-width: 50px;

}

 .box-2 {
  margin-bottom: 60%;
  height: 150px;
  width:900px;
}

#index {
  padding-top: 8%;
 margin-top: 150px;
   border-radius: 10px;
   height: 85vh;
   width: 100%;
   margin-bottom: 5px;
   box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
   backdrop-filter: blur(1rem);
   border: 1px solid-transparent;
   background-color: rgba(116, 114, 114, 0.5);
   
} 
/* animation code */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f4f2f8 0%,
    #96e0e9 29%,
    #51f7bd 67%,
    #71f06d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 200px;
}

.animate-charcter {
    font-size: 100px;
    margin-bottom: 10%;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/* End of animation */

/* end of landing page */
/* <---------------------------------------------------------------------------------------------------------------------------------> */
/* <---------------------------------------------------------------------------------------------------------------------------------> */
/* Testimonials */
#testimonials {
  
  padding-top: 8%;
 margin-top: 50%;
   border-radius: 10px;
   height: 130vh;
   width: 100%;
   margin-bottom: 5px;
   box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
   backdrop-filter: blur(1rem);
   border: 1px solid-transparent;
   background-color: rgba(116, 114, 114, 0.5);
} 

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 8%;
}

.container .card {
  width: 308px;
  position: relative;
  height: 400px;
  background: #f0f0f0;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 10px #e6e6e6;
  transition: 0.3s ease-out;
  margin-top: 5%;
}

.container .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgb (0,0,0,1.2);
}
.container .card .imgBx img {
  max-width: 10px;
  border-radius: 10px;
}
img{
height: 100px;
width: 100px;
}
.imbBx:hover{
  transform: scale(1.1);
}
/* <---------------------------------------------------------------------------------------------------------------------------------> */
/* Contact page */

#contact {
  padding-top: 8%;
 margin-top: 150px;
   border-radius: 10px;
   height: 110vh;
   width: 100%;
   margin-bottom: 5px;
   box-shadow: 0 0 2rem 0 rgb(1, 248, 252);
   backdrop-filter: blur(1rem);
   border: 1px solid-transparent;
   background-color: rgba(116, 114, 114, 0.5);
} 

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}